# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = scrapy2postgre.settings

[deploy:stats]
url = http://192.168.31.200:6800/
project = scrapy2postgre
